# Homework: 01-Intro

[ML zoomcamp](https://github.com/alexeygrigorev/mlbookcamp-code/tree/master/course-zoomcamp/01-intro) course.  
[Homework](https://github.com/alexeygrigorev/mlbookcamp-code/blob/master/course-zoomcamp/cohorts/2022/01-intro/homework.md)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Q1: What's the version of NumPy that you installed?
np.__version__

'1.21.6'

In [ ]:
# Donwload and read data
! wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
df = pd.read_csv('data.csv')

--2022-09-10 14:23:30--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>]   1.41M  --.-KB/s    in 0.06s

2022-09-10 14:23:30 (23.7 MB/s) - ‘data.csv’ saved [1475504/1475504]

In [ ]:
# Q2: How many records are in the dataset?
df.shape

(11914, 16)

In [ ]:
# Q3: Who are the most frequent car manufacturers (top-3) according to the dataset?
df[['Make']].value_counts()[:3]

Make
Chevrolet     1123
Ford           881
Volkswagen     809
dtype: int64

In [ ]:
# Q4: What's the number of unique Audi car models in the dataset?
df[df.Make=='Audi']['Model'].nunique()

34

In [ ]:
# Q5: How many columns in the dataset have missing values?
df.isnull().any().sum()

5

In [ ]:
# Q6:
# Find the median value of "Engine Cylinders" column in the dataset.
# Next, calculate the most frequent value of the same "Engine Cylinders".
# Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
# Now, calculate the median value of "Engine Cylinders" once again.
# Has it changed?
col = 'Engine Cylinders'
print(f"'{col}' column median value is {df[col].median()}")
mode = df[col].mode()[0]
print(f"'{col}' column most frequient value is {mode}")
df[col] = df[col].fillna(mode)
print(f"'{col}' column median value is {df[col].median()}")

'Engine Cylinders' column median value is 6.0
'Engine Cylinders' column most frequient value is 4.0
'Engine Cylinders' column median value is 6.0

In [ ]:
# Q7:
  # Select all the "Lotus" cars from the dataset.
  # Select only columns "Engine HP", "Engine Cylinders".
  # Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
  # Get the underlying NumPy array. Let's call it X.
  # Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
  # Invert XTX.
  # Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
  # Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
  # What's the value of the first element of w?

y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
cols = ["Engine HP", "Engine Cylinders"]
X = df[df.Make=='Lotus'][cols].drop_duplicates().to_numpy()
XTX = X.T @ X
w = (np.linalg.inv(XTX) @ X.T) @ y
w

array([  4.59494481, -63.56432501])